@import url('file:///home/matheus/.cache/homepage/colors.css');
@import url('file:///home/your_user_name/.cache/wal/colors.css');
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

:root {
/*********************************/
/**** TAB BAR VARIABLES ****/
/*********************************/
    --bg-dark: var(--bg);
    --bg-light: #575c66 ;
    --fg-dark: var(--bg);
    --fg-light: var(--fg);
    --tab-fonts: "monospace";
    --tab-font-size: 10pt;
    --tab-text-align: center;
    --tab-min-height: 25px !important;
 
/*********************************/
/**** URL BAR VARIABLES ****/
/*********************************/
    --url-background: var(--bg-light);
    --url-foreground: var(--fg-light);
    --url-fonts: "monospace";
    --url-font-size: 10pt;
    --url-text-align: center;
}
 
/**** TAB SEPARATOR (DEFAULT=NONE) ****/
.tabbrowser-tab::before, .tabbrowser-tab::after {
    display: none !important;
}
 
/**** TAB ICONS (DEFAULT=NONE)  ****/
.tab-icon-image {
    display: none !important;
}
 
 
/*********************************/
/**** URL BAR CONFIG ****/
/*********************************/
#urlbar, .searchbar-textbox, urlbar-container {
    font-family: var(--url-fonts) !important;
    font-size: var(--url-font-size);
    text-shadow: none !important;
    text-align: var(--url-text-align) !important;
    border: 0px !important;
    box-shadow: none !important;
}
 
 
/* Hide top tab bar */
#TabsToolbar {
        visibility: hidden !important;
}

#nav-bar {
        margin-bottom: -1px !important;
        margin-top: -29px !important;
        margin-right: 0px !important;
        margin-left: 0px !important;
}

#urlbar {
    border-color: transparent !important;
}

* {
        background-color: rgb(0,0,0) !important;
#	background-color: var(color4) !important;
        background: rgba(000, 54, 54, 0.5);
        -moz-appearance: none !important;
}

/* Hide TreeStyleTab header */
#sidebar-header {
        display: none;
        background-color: rgb(15.7, 16.1, 18) !important;
}

#pageActionButton,
#pocket-button-box,
ar-button,
/* .autocomplete-history-dropmarker, */
#identity-box,
.urlbar-history-dropmarker.urlbar-icon.chromeclass-toolbar-additional,
#page-action-buttons,
#PanelUI-menu-button,
#identity-icon-labels {
	display: none !important;
	background: transparent !important;
}

/* when inside url bar, disable the "go to url button"  */
.urlbar-go-button {
	display: none !important;
}

// #back-button, #forward-button { display:none!important; }


						/* downloads */
.downloadButton.downloadIconShow,		/* "Open Containing Folder" */
#downloadsFooter,				/* "Show All Downloads" */

						/* menu */
#appMenu-fxa-status + toolbarseparator,		/* seperator */
#appMenu-protection-report-button,		/* "Privacy Protections" */
#appMenu-edit-controls,				/* Edit buttons */
#appMenu-edit-controls + toolbarseparator,	/* separator */
#appMenu-logins-button,				/* "Logins and Passwords" */
#appMenu-open-file-button,			/* "Open File..." */
#appMenu-save-file-button,			/* "Save Page As..." */
#appMenu-print-button,				/* "Print..." */
#appMenu-print-button + toolbarseparator,	/* seperator */
#appMenu-find-button,				/* "Find in This Page..." */
#appMenu-whatsnew-button,			/* "What's New" */

						/* findbar */
.findbar-find-status,				/* status text */

						/* sidebar */
#sidebar-splitter,				/* splitter */

						/* page context menu */
#context-sep-navigation,			/* separator */
#context-openlink,				/* "Open Link" */
#context-bookmarklink,				/* "Bookmark This Link" */
#context-sendimage,				/* "Email image... " */
#context-setDesktopBackground,			/* "Set As Desktop Background…" */
#context-video-saveimage,			/* "Save Snapshot As..." */
#context-sendvideo,				/* "Email video..." */
#context-sendaudio,				/* "Email audio..." */
#context-savepage,				/* "Save Page As..." */
#context-sep-sendpagetodevice,			/* separator */
#context-viewbgimage,				/* "View Background Image" */
#context-sep-viewbgimage,			/* separator */
#context-undo,					/* "Undo" */
#context-sep-undo,				/* separator */
#context-cut,					/* "Cut" */
#context-copy,					/* "Copy" */
#context-paste,					/* "Paste" */
#context-delete,				/* "Delete" */
#context-sep-paste,				/* separator */
#context-selectall,				/* "Select All" */
#context-sep-selectall,				/* separator */
#context-keywordfield,				/* "Add a Keyword for this Search..." */
#context-bookmarkframe,				/* "Bookmark This Frame" */
#context-viewpartialsource-selection,		/* "View Selection Source" */
#inspect-separator,				/* separator */
#context-inspect,				/* "Inspect Element" */
#context-media-eme-separator,			/* separator */
#context-media-eme-learnmore			/* "Learn more about DRM..." */
{
	display: none !important;
}

}

/* sidebar - bookmarks */
@-moz-document url(chrome://browser/content/places/bookmarksSidebar.xul) {
	#bookmarksPanel {
		background: transparent !important;
	}
}

/* sidebar - history */
@-moz-document url(chrome://browser/content/places/historySidebar.xul) {
	#history-panel {
		background: transparent !important;
	}
}

/* sidebar - synced tabs */
@-moz-document url(chrome://browser/content/syncedtabs/sidebar.xhtml) {
	body {
		background: transparent !important;
	}
}

